/*#region general*/
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    padding: 15px 20px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

body{
    cursor: url('img/circle.png'), auto;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}

a:hover {
    color: lightgray;
}
/*#endregion*/



.title{
    font-size: 3rem;
} 
.title a{
    cursor: url('img/right-arrow.png'), auto;
}

.menu{
    font-size: 3rem;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    cursor: url('img/right-arrow.png'), auto;
}


.menu-btn{
    display: none;
}

.project{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4rem;
    margin: 0 5%;
}


footer{
    margin-top: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 20;
}

footer a{
    cursor: url('img/right-arrow.png'), auto;
}


@media (max-width: 500px) {
    nav a{
        display: none;
    }

    .menu-btn{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: 3px solid black; 
    }

    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before,
    .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
    transform: translateY(-16px);
    }
    .menu-btn__burger::after {
    transform: translateY(16px);
    }
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

