/*#region general*/
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: url('img/circle.png'), auto;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    transition: background-image 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}



header{
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*#endregion*/

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.title{
    font-size: 3rem;
} 
.title a{
    cursor: url('img/right-arrow.png'), auto;
}
.title a:hover{
    color: lightgray;
}
.menu{
    font-size: 3rem;
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu li{
    display: inline;

}
.menu a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    cursor: url('img/right-arrow.png'), auto;
}
.menu a:hover {
    color: lightgray;
}

.menu-btn{
    display: none;
}

.project{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4rem;
    margin: 0 5%;
}


/*#region footer
footer{
    margin-top: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 20;
}
/*#endregion*/
@media (max-width: 500px) {
    nav a{
        display: none;
    }
}



