/*#region general*/
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    padding: 15px 0px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

body{
    margin: 0;
    padding: 0;
    cursor: url('img/circle.png'), auto;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}

a:hover {
    color: lightgray;
}
a{
    cursor: url('img/hollow-circle.png'), auto;
    text-decoration: none;
    color: inherit;
}
/*#endregion*/



.title{
    font-size: 3rem;
    margin-left: 35px;
} 


.menu{
    font-size: 3rem;
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 50px;
}

.menu a{
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}


.menu-btn{
    display: none;
    z-index: 2;
}


.off-screen-menu{
    background-color: red;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1;
}


.project{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4rem;
    margin: 0 5%;
}


#brand{
    margin-top: 5%;
    text-align: start;
}



@media (max-width: 800px) {
    nav a{
        display: none;
    }

    .menu-btn{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        cursor: url('img/hollow-circle.png'), auto;

    }

    .menu-btn span{
        cursor: url('img/hollow-circle.png'), auto;
        height: 5px;
        width: 100%;
        background-color: red;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    .menu-btn span:nth-child(1){
        top: 25%;
    }
    .menu-btn span:nth-child(3){
        top: 75%;
    }
    .menu-btn.open{
        background-color: black;
        transition: background-color 1000ms linear;
    }
    .menu-btn.open span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu-btn.open span:nth-child(2){
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn.open span:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .off-screen-menu.open{
        right: 0;
    }
}

