/*#region general*/
html{
    margin: 0;
}
body{
    font-family: "Helvetica"; 
}

header{
    font-style: italic;
    font-size: larger;
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:inherit
}
nav{
    font-size: 6vh;
    margin-right: 2%;
    margin-top: 1%;

}
li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*#endregion*/
.menu{
    align-self: center;
    display: inline-flex;
}
.menu a {
    margin-right: 10%;
}

.logo img{
    width: 200px;
}

/*#region container*/
.container{
    justify-items: center;
    font-optical-sizing: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
    margin: 5% auto;
}
/*#endregion*/

/*#region tile*/
.tile{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 800px;
    background-color: black;
}
.tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}
.tile h2{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    color: white;
}
.tile:hover img {
    opacity: 0;
}

.tile:hover h2 {
  opacity: 1;
}
/*#endregion*/

/*#region popup*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/*#endregion*/

/*#region contact*/
.contact{
    margin: 2% 13.5%;
    font-size: 50px;
}
/*#endregion*/

/*#region footer*/
footer{
    margin-top: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 20;
}
/*#endregion*/

/*#region mediaQ*/
@media (max-width: 1500px) {
    .container{
        align-items: center;
        grid-template-columns: 1fr;
    }
}
/*#endregion*/